.book-card .card-body .card-title,
.book-card .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book-card {
  width: 250px;
}

.book-card img {
  height: 10rem;
}
.row {
  display: flex !important;
  align-items: start !important;
  justify-content: center !important;
  gap: 10px;
  width: 100%;
}
@media (max-width: 762) {
  .row .book-card {
    width: 200px !important;
  }
}
@media (max-width: 425px) {
  .row {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px;
  }
  .book-card .card-text {
    font-size: small !important;
  }
  .book-card .card-title {
    font-size: medium !important;
  }

  .row div {
    width: 150px !important;
  }
}

.search-bar .height {
  height: 100vh;
}

.search-bar .form {
  position: relative;
}

.search-bar .form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.search-bar .form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.search-bar .left-pan {
  padding-left: 7px;
}

.search-bar .left-pan i {
  padding-left: 10px;
}

.search-bar .form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.search-bar .form-input:focus {
  box-shadow: none;
  border: none;
}
