{% extends 'layout.html' %} {% block title %}{{agent_data.name}} -
pico-library{% endblock %} {% block content %}
<div class="container py-5">
  <h1>{{ agent_data.name }}</h1>
  <p><strong>Alias:</strong> {{ agent_data.alias }}</p>
  <p><strong>Birth Date:</strong> {{ agent_data.birth_date }}</p>
  <p><strong>Death Date:</strong> {{ agent_data.death_date }}</p>
  <p>
    <strong>Webpage:</strong>
    <a href="{{ agent_data.webpage }}" target="_blank"
      >{{ agent_data.webpage }}</a
    >
  </p>

  <h2>Books by {{ agent_data.name }}</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="gap: 10px">
    {% for book in agent_data.agent_books %}
    <div class="card book-card h-100">
      {% if book.image %}

      <img
        src="{{ book.image }}"
        class="card-img-top bd-placeholder-img img-thumbnail"
        alt="{{ book.title }}"
      />
      {% else %}

      <svg
        class="card-img-top bd-placeholder-img img-thumbnail"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="38%" y="53%" fill="#dee2e6">No Image</text>
      </svg>
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.description }}</p>
        <a
          href="{{ url_for('site.book_details', book_id=book.id) }}"
          class="btn border"
          >View Details</a
        >
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="container" style="margin-top: 20px">
    <a href="/books?agent={{ agent_id }}" class="btn border"
      >Check out More from this Author</a
    >
  </div>
</div>
{% endblock %}
