{% extends 'layout.html' %} {% block title %} {{ book_data['title'] }} -
pico-library{% endblock %} {% block content %}

<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <img
        src="{{ book_data.image }}"
        alt="{{ book_data.title }}"
        class="img-fluid mb-4"
      />
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Book Details</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Title:</strong> {{ book_data.title }}
            </li>
            <li class="list-group-item">
              <strong>Format:</strong> {{ book_data.format }}
            </li>
            <li class="list-group-item">
              <strong>License:</strong>
              <a href="{{ book_data.license }}" target="_blank">
                {{ book_data.license }}
              </a>
            </li>

            <li class="list-group-item">
              <strong>Downloads:</strong> {{ book_data.downloads }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 card">
      <div class="card-body">
        <h5 class="card-title">Book Info</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>{{ book_data.description }}</p>
          </li>

          <li class="list-group-item">
            <h2>Authors</h2>
            <ul>
              {% for author in book_data.agents %}
              <li>
                <div>
                  <a href="/agents/{{ author.id }}">{{ author.name }}</a>
                  <p><strong>type:</strong> {{ author.agent_type }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="list-group-item">
            <h2>Languages</h2>
            <ul>
              {% for language in book_data.languages %}
              <li>{{ language.code }}</li>
              {% endfor %}
            </ul>
          </li>
          <li class="list-group-item">
            <h2>Publishers</h2>
            <ul>
              {% for publisher in book_data.publishers %}
              <li>{{ publisher.name }}</li>
              {% endfor %}
            </ul>
          </li>

          <li class="list-group-item">
            <h2>Subjects</h2>
            <ul>
              {% for subject in book_data.subjects %}
              <li>
                <a href="/books?subject={{ subject.id }}">{{ subject.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>

          <li class="list-group-item">
            <h2>Bookshelves</h2>
            <ul>
              {% for bookshelf in book_data.bookshelves %}
              <li>
                <a href="/books?bookshelf={{ bookshelf.id }}"
                  >{{ bookshelf.name }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>

          <li class="list-group-item">
            <h2>Resources</h2>
            <ul>
              {% for resource in book_data.resources %}
              <li>
                <div>
                  <a href="{{ resource.url }}" target="_blank"
                    >{{ resource.type }}</a
                  >
                  <p><strong>type:</strong> {{ resource.type }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <button id="nav-reviews-tab" class="nav-link active" aria-current="page">
      Reviews
    </button>
  </li>
  <li class="nav-item">
    <button id="nav-comments-tab" class="nav-link">Comments</button>
  </li>
</ul>
<script>
  $("#nav-reviews-tab").bind("click", function () {
    var current = $(this).attr("aria-current");
    if (!current) {
      $(this).attr("aria-current", "page");
      $(this).addClass("active");

      $("#nav-comments-tab").removeAttr("aria-current");
      $("#nav-comments-tab").removeClass("active");

      $("#reviews").addClass("active");
      $("#reviews").addClass("show");

      $("#comments").removeClass("active");
      $("#comments").removeClass("show");
    }
  });
  $("#nav-comments-tab").bind("click", function () {
    var current = $(this).attr("aria-current");
    if (!current) {
      $(this).attr("aria-current", "page");
      $(this).addClass("active");

      $("#nav-reviews-tab").removeAttr("aria-current");
      $("#nav-reviews-tab").removeClass("active");

      $("#comments").addClass("active");
      $("#comments").addClass("show");

      $("#reviews").removeClass("active");
      $("#reviews").removeClass("show");
    }
  });
</script>

<div class="tab-content mt-3">
  <div class="tab-pane fade show active" id="reviews">
    <!-- Display reviews -->
    <div id="reviews-content">
      <!-- Reviews will be dynamically loaded here -->
      reviews
    </div>
  </div>
  <div class="tab-pane fade" id="comments">
    <!-- Display comments -->
    <div id="comments-content">
      <!-- Comments will be dynamically loaded here -->
      comments
    </div>
  </div>
</div>

{% endblock %}
