{% extends 'layout.html' %} {% block title %} {{ book_data['title'] }} -
pico-library{% endblock %} {% block content %} {% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/book_details.css') }}"
/>
{% endblock %}

<div class="container py-5 book-detail">
  <div class="row">
    <div class="col-md-4">
      <img
        src="{{ book_data.image }}"
        alt="{{ book_data.title }}"
        class="img-fluid mb-4"
      />
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title">Book Details</h5>
            {% if is_logged_in %}
            <input
              type="hidden"
              name="bookmarked"
              id="bookmarked"
              value="{{ book_data.bookmarked }}"
            />
            <div class="dropdown">
              <button
                class="btn btn-secondary {% if not book_data.bookmarked %} dropdown-toggle {% endif %}"
                type="button"
                {%if
                not
                book_data.bookmarked%}
                data-bs-toggle="dropdown"
                {%else%}
                data-toggle="tooltip"
                data-placement="top"
                title="remove from bookmark {{ book_data.bookmark_status }}"
                {%endif%}
                id="bookmark-select-btn"
                aria-expanded="false"
                data-value="{% if not book_data.bookmarked %}add{% else %}remove{% endif %}"
              >
                {% if not book_data.bookmarked %}
                <i class="fa fa-bookmark" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-trash" aria-hidden="true"></i>
                {% endif %}
              </button>
              <ul class="dropdown-menu" id="bookmark-select-menu">
                <li>
                  <button type="button" class="btn" data-value="read">
                    read
                  </button>
                </li>
                <li>
                  <button type="button" class="btn" data-value="want_to_read">
                    want to read
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="btn"
                    data-value="currently_reading"
                  >
                    currently reading
                  </button>
                </li>
                <li>
                  <button type="button" class="btn" data-value="unread">
                    unread
                  </button>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Title:</strong> {{ book_data.title }}
            </li>
            <li class="list-group-item">
              <strong>Format:</strong> {{ book_data.format }}
            </li>
            <li class="list-group-item">
              <strong>License:</strong>
              <a href="{{ book_data.license }}" target="_blank">
                {{ book_data.license }}
              </a>
            </li>

            <li class="list-group-item">
              <strong>Downloads:</strong> {{ book_data.downloads }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 card">
      <div class="card-body">
        <h5 class="card-title">Book Info</h5>
        <ul class="list-group list-group-flush" id="book-info-list">
          <li class="list-group-item">
            <h2>Description</h2>
            <p>{{ book_data.description }}</p>
          </li>

          <li class="list-group-item closed">
            <div class="d-flex align-items-center justify-content-between">
              <h2>Authors</h2>
              <button class="btn li-info-toggle" style="width: fit-content">
                <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                <i class="fa fa-caret-up caret-up" aria-hidden="true"></i>
              </button>
            </div>
            <ul class="info">
              {% for author in book_data.agents %}
              <li>
                <div>
                  <a href="/agents/{{ author.id }}">{{ author.name }}</a>
                  <p><strong>type:</strong> {{ author.agent_type }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="list-group-item closed">
            <div class="d-flex align-items-center justify-content-between">
              <h2>Languages</h2>
              <button class="btn li-info-toggle" style="width: fit-content">
                <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                <i class="fa fa-caret-up caret-up" aria-hidden="true"></i>
              </button>
            </div>
            <ul class="info">
              {% for language in book_data.languages %}
              <li>{{ language.code }}</li>
              {% endfor %}
            </ul>
          </li>
          <li class="list-group-item closed">
            <div class="d-flex align-items-center justify-content-between">
              <h2>Publishers</h2>
              <button class="btn li-info-toggle" style="width: fit-content">
                <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                <i class="fa fa-caret-up caret-up" aria-hidden="true"></i>
              </button>
            </div>
            <ul class="info">
              {% for publisher in book_data.publishers %}
              <li>{{ publisher.name }}</li>
              {% endfor %}
            </ul>
          </li>

          <li class="list-group-item closed">
            <div class="d-flex align-items-center justify-content-between">
              <h2>Subjects</h2>
              <button class="btn li-info-toggle" style="width: fit-content">
                <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                <i class="fa fa-caret-up caret-up" aria-hidden="true"></i>
              </button>
            </div>
            <ul class="info">
              {% for subject in book_data.subjects %}
              <li>
                <a href="/books?subject={{ subject.id }}">{{ subject.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>

          <li class="list-group-item closed">
            <div class="d-flex align-items-center justify-content-between">
              <h2>Bookshelves</h2>
              <button class="btn li-info-toggle" style="width: fit-content">
                <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                <i class="fa fa-caret-up caret-up" aria-hidden="true"></i>
              </button>
            </div>
            <ul class="info">
              {% for bookshelf in book_data.bookshelves %}
              <li>
                <a href="/books?bookshelf={{ bookshelf.id }}"
                  >{{ bookshelf.name }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>

          <li class="list-group-item closed">
            <div class="d-flex align-items-center justify-content-between">
              <h2>Resources</h2>
              <button class="btn li-info-toggle" style="width: fit-content">
                <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                <i class="fa fa-caret-up caret-up" aria-hidden="true"></i>
              </button>
            </div>
            <ul class="info">
              {% for resource in book_data.resources %}
              <li>
                <div>
                  <a href="{{ resource.url }}" target="_blank"
                    >{{ resource.type }}</a
                  >
                  <p><strong>type:</strong> {{ resource.type }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <button id="nav-reviews-tab" class="nav-link active" aria-current="page">
      Reviews
    </button>
  </li>
  <li class="nav-item">
    <button id="nav-comments-tab" class="nav-link">Comments</button>
  </li>
</ul>

<div class="tab-content mt-3">
  <div class="tab-pane fade active show" aria-current="page" id="reviews">
    <!-- Display reviews -->
    {% include 'components/reviews.html' %}
  </div>
  <div class="tab-pane fade" id="comments">
    <!-- Display comments -->

    {% include 'components/comments.html' %}
  </div>
</div>

<input
  type="hidden"
  id="user_public_id"
  name="public_id"
  value="{{ user_data.public_id }}"
/>

<input type="hidden" id="book_id" name="book_id" value="{{ book_data.id }}" />
<input
  type="hidden"
  id="auth_token"
  name="auth_token"
  value="{{ user_data.auth_token }}"
/>

<script src="{{ url_for('static', filename='js/book_details.js') }}"></script>

{% endblock %}
