{% extends 'layout.html' %} {% block title %}profile - pico-library{% endblock
%} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Reset Password</div>

        <div class="card-body">
          <form method="post" name="update-password">
            <div class="mb-3">
              <label for="new_password" class="form-label">New Password:</label>
              <input type="password" class="form-control" name="new_password" />
            </div>
            <div class="mb-3">
              <label for="confirm_new_password" class="form-label"
                >Confirm New Password:</label
              >
              <input
                type="password"
                class="form-control"
                name="confirm_new_password"
              />
            </div>
            <div>
              <p class="text-danger-emphasis">{{ message }}</p>
            </div>
            <div
              class="container d-flex justify-content-between align-items-center"
            >
              <button type="submit" class="btn btn-success">submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
