<!-- templates/homepage.html -->
{% extends 'layout.html' %} {% block title %}Agents - pico-library{% endblock %}
{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/homepage.css') }}"
/>
{% endblock %} {% block content %}

<div class="container py-5">
  <h1 class="mb-4">Agent Listing</h1>
  <select
    class="form-select mb-4"
    aria-label="agent_types"
    id="agent_type-select"
    style="width: fit-content !important"
  >
    <option value="all">all</option>
    <option {% if agent_type == "author" %} selected {% endif %} value="agents?agent_type=author">author</option>
    <option {% if agent_type == "annotator" %} selected {% endif %} value="agents?agent_type=annotator">annotator</option>
    <option {% if agent_type == "commentator" %} selected {% endif %} value="agents?agent_type=commentator">commentator</option>
    <option {% if agent_type == "compiler" %} selected {% endif %} value="agents?agent_type=compiler">compiler</option>
    <option {% if agent_type == "composer" %} selected {% endif %} value="agents?agent_type=composer">composer</option>
    <option {% if agent_type == "contributor" %} selected {% endif %} value="agents?agent_type=contributor">contributor</option>
    <option {% if agent_type == "other" %} selected {% endif %} value="agents?agent_type=other">other</option>
    <option {% if agent_type == "photographer" %} selected {% endif %} value="agents?agent_type=photographer">photographer</option>
    <option {% if agent_type == "translator" %} selected {% endif %} value="agents?agent_type=translator">translator</option>
  </select>

  <script>
    $("#agent_type-select").bind("change", function () {
      // bind change event to select
      var url = $(this).val(); // get selected value
      if (url != "") {
        // require a URL
        window.location = url; // redirect
      }
      return false;
    });
  </script>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for author in pagination['items'] %}
    <div class="author-card col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ author.name }}</h5>
          <p class="card-text">
            {{ author.birth_date }} - {{ author.death_date }}
          </p>
          <p class="card-text">{{ author.alias }}</p>
          <a
            href="/agents/{{ author.id }}"
            data-id="{{ author.id }}"
            data-title="{{ author.name }}"
            class="btn btn-primary"
          >
            Read More
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Add homepage content here -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ 'disabled' if not pagination.has_prev }}">
      <a class="page-link" href="/agents?agent_type={{ agent_type }}&page={{ pagination.page - 1 }}">Previous</a>
    </li>
    {% for i in range(1, pagination.total_pages + 1) %}
      {% if i >= pagination.page - 1 and i <= pagination.page + 1 %}
        <li class="page-item {{ 'active' if i == pagination.page }}">
          <a class="page-link" href="/agents?agent_type={{ agent_type }}&page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="page-item {{ 'disabled' if not pagination.has_next }}">
      <a class="page-link" href="/agents?agent_type={{ agent_type }}&page={{ pagination.page + 1 }}">Next</a>
    </li>
  </ul>
</nav>

{% endblock %}
