<!-- templates/subjects.html -->
{% extends 'layout.html' %} {% block title %}Subjects - Pico Library{% endblock
%} {% block content %}
<div class="container py-5">
  <h1>Subjects</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for subject in pagination["items"] %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ subject.name }}</h5>
          <!-- You can add more details about the subject if available -->
          <a href="/subjects/{{ subject.id }}/books" class="btn btn-primary"
            >View Books</a
          >
          <!-- Link to subject's books -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ 'disabled' if not pagination.has_prev }}">
      <a class="page-link" href="/subjects?page={{ pagination.page - 1 }}"
        >Previous</a
      >
    </li>
    {% for i in range(1, pagination.total_pages + 1) %} {% if i >=
    pagination.page - 1 and i <= pagination.page + 1 %}
    <li class="page-item {{ 'active' if i == pagination.page }}">
      <a class="page-link" href="/subjects?page={{ i }}">{{ i }}</a>
    </li>
    {% endif %} {% endfor %}
    <li class="page-item {{ 'disabled' if not pagination.has_next }}">
      <a class="page-link" href="/subjects?page={{ pagination.page + 1 }}"
        >Next</a
      >
    </li>
  </ul>
</nav>
{% endblock %}
