{% extends 'layout.html' %} {% block title %}profile - pico-library{% endblock
%} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">User Profile</div>
        {% if not profile_data.user.is_email_confirmed %}
        <div
          class="mb-4 bg-info-subtle p-4"
          style="
            width: 100%;
            text-align: center;
            font-size: large;
            font-weight: 500;
          "
        >
          <p>
            Please confirm your email. doing so will allow you to recover
            forgotten passwords. click here to resend confirmation
            <a href="/resend_confirmation" target="_blank">link</a>
          </p>
        </div>
        {% endif %}

        <div class="m-3">
          <img
            src="https://api.dicebear.com/8.x/bottts/svg?seed={{ profile_data.user.public_id }}"
            alt="User Avatar"
            width="200"
            class="img-thumbnail rounded-circle"
          />
        </div>
        <div class="card-body">
          <form method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                name="email"
                value="{{ profile_data.user.email }}"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="first_name" class="form-label">First Name:</label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                value="{{ profile_data.first_name }}"
                {%
                if
                not
                editable
                %}
                disabled
                {%
                endif
                %}
              />
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label">Last Name:</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                value="{{ profile_data.last_name or '' }}"
                {%
                if
                not
                editable
                %}
                disabled
                {%
                endif
                %}
              />
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Location:</label>
              <input
                type="text"
                class="form-control"
                name="location"
                value="{{ profile_data.location or '' }}"
                {%
                if
                not
                editable
                %}
                disabled
                {%
                endif
                %}
              />
            </div>
            <div class="mb-3">
              <label for="gender" class="form-label">Gender:</label>
              <select
                class="form-control"
                name="gender"
                {%
                if
                not
                editable
                %}
                disabled
                {%
                endif
                %}
                value="{{ profile_data.gender }}"
              >
                <option value="male">male</option>
                <option value="female">female</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="bio" class="form-label">Bio:</label>
              <textarea
                class="form-control"
                name="bio"
                rows="3"
                {%
                if
                not
                editable
                %}
                disabled
                {%
                endif
                %}
              >
{{ profile_data.bio or '' }}</textarea
              >
            </div>
            <div>
              <p class="text-danger-emphasis">{{message}}</p>
            </div>
            <div
              class="container d-flex justify-content-between align-items-center"
            >
              <button
                type="submit"
                class="btn btn-success"
                {%
                if
                not
                editable
                %}
                disabled
                {%
                endif
                %}
              >
                submit
              </button>
              <a
                href="/profile?editable={% if editable %}False{% else %}True{% endif %}"
                class="btn btn-{% if editable %}warning{% else %}primary{% endif %}"
              >
                {% if editable %} Cancel {% else %} Edit Profile {% endif %}
              </a>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <!-- modal button -->
          <button
            type="button"
            class="btn border"
            data-bs-toggle="modal"
            data-bs-target="#change-password-modal"
          >
            change password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- change password modal -->

<!-- modal -->
<div class="modal" tabindex="-1" id="change-password-modal">
  <div class="modal-dialog">
    <form class="modal-content" name="change-password">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="old_password" class="form-label">Old Password:</label>
          <input
            type="password"
            class="form-control"
            name="old_password"
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="new_password" class="form-label">New Password:</label>
          <input
            type="password"
            class="form-control"
            name="new_password"
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="confirm_new_password" class="form-label"
            >Confirm New Password:</label
          >
          <input
            type="password"
            class="form-control"
            name="confirm_new_password"
            disabled
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
